<nav>
    <ul>
        <li>Categorias</li>
            <ul>
                <li><a href="">Administração</a></li>
                <li><a href="">Biografias</a></li>
                <li><a href="">Contos e Crônicas</a></li>
                <li><a href="">Dicionários</a></li>
                <li><a href="">Economia</a></li>
                <li><a href="">Ficção Científica</a></li>
                <li><a href="">Geografia e História</a></li>
                <li><a href="">Humor</a></li>
                <li><a href="">Infanto-Juvenil</a></li>
                <li><a href="">Linguística</a></li>
                <li><a href="">Medicina</a></li>
                <li><a href="">Poesia</a></li>
                <li><a href="">Policial</a></li>
                <li><a href="">Psicologia</a></li>
                <li><a href="">Romance</a></li>
                <li><a href="">Terror e Suspense</a></li>
    </ul>
    </nav>

<section>
    <h4>Livros em Destaque:</h4>
    <article>
    <ul>
        <img width="174" height="270" src="https://imagens.lelivros.love/2022/02/baixar-livro-casa-de-ceu-e-sopro-cidade-da-lua-crescente-vol-02-sarah-j-maas-em-pdf-epub-mobi-ou-ler-online-174x270.jpg" alt="Capa do livro: Casa do Céu e Sopro">
        <li>Casa do Céu e Sopro - Cidade da Lua Crescente Vol 02 - Srah J. Maas
        <br>
        <button><a href="">Baixar ou Ler Online</a></button>
        </li>
        <br>
        <img width="174" height="270" src="https://imagens.lelivros.love/2022/01/Baixar-Livro-Antropoceno-Notas-Sobre-a-Vida-Na-Terra-John-Green-Em-Epub-Pdf-Mobi-Ou-Ler-Online_large-174x270.jpg" alt="Capa do livro: Antropoceno">
        <li>Antropoceno - Notas Sobre a Vida Na Terra - John Green
        <br>
        <button><a href="">Baixar ou Ler Online</a></button>
        </li>
        <br>
        <img width="174" height="270" src="https://imagens.lelivros.love/2022/01/Baixar-Livro-o-Amor-Nos-Tempos-da-Covid-19-Antonio-Manzini-Em-Epub-Pdf-Mobi-Ou-Ler-Online_large-174x270.jpg" alt="Capa do livro: O Amor Nos Tempos da Covid-19">
        <li>O Amor Nos Tempos da Covid-19 - Antonio Manzini 
        <br>
        <button><a href="">Baixar ou Ler Online</a></button>
        </li>
        <br>
        <img width="174" height="270" src="https://imagens.lelivros.love/2021/10/baixar-livro-billy-summers-stephen-king-em-pdf-epub-mobi-ou-ler-online-174x270.jpg" alt="Capa do livro: Billy Summers">
        <li>Billy Summers - Stephen King 
        <br>
        <button><a href="">Baixar ou Ler Online</a></button>
        </li>
    </ul>
    </article>
</section>
<hr>
<section>
    <h4>Últimas Publicações:</h4>
    <article>
        <ul>
        <img  width="174" height="270" src="https://imagens.lelivros.love/2022/02/Baixar-Livro-Soberania-e-Politica-Energetica-Jaime-Rotstein-Em-Epub-Pdf-Mobi-Ou-Ler-Online_large-174x270.jpg" alt="Capa do Livro: Soberania e Política Energética">
        <li>Soberania e Política Energética - Jaime Rotstein
        <br>
        <button><a href="">Baixar ou Ler Online</a></button>
        </li>
        <br>
        <img  width="174" height="270" src="https://imagens.lelivros.love/2022/02/Baixar-Livro-Geracao-de-Energia-Sustentavel-Jose-Antonio-Perrella-Balestieri-Em-Epub-Pdf-Mobi-Ou-Ler-Online_large-174x270.jpg" alt="Capa do livro: Geração Sustentável">
        <li>Geração de Energia Sustentável - José Antônio Perrella Balestieri
        <br>
        <button><a href="">Baixar ou Ler Online</a></button>
        </li>
        <br>
        <img  width="174" height="270" src="https://imagens.lelivros.love/2022/02/Baixar-Livro-Tudo-o-que-Importa-uma-Vida-Transformada-Pelo-Minimalismo-Joshua-Fields-Em-Epub-Pdf-Mobi-Ou-Ler-Online_large-174x270.jpg" alt="Capa do livro: Tudo o que Importa">
        <li>Tudo o que Importa: uma Vida Transformada Pelo Minimalismo - Joshua Fields
        <br>
        <button><a href="">Baixar ou Ler Online</a></button>
        </li>
        <br>
        <img  width="174" height="270" src="https://imagens.lelivros.love/2022/02/Baixar-Livro-Metanoia-Cora-Menestrelli-Em-Epub-Pdf-Mobi-Ou-Ler-Online_large-174x270.jpg" alt="Capa do livro: Tudo o que Importa">
        <li> Metanoia - Cora Menestrelli
        <br>
        <button><a href="">Baixar ou Ler Online</a></button>
        </li>
        <br>
        <img  width="174" height="270" src="https://imagens.lelivros.love/2022/02/Baixar-Livro-High-Voltage-a-Vida-de-Angus-Young-Jeff-Apter-Em-Epub-Pdf-Mobi-Ou-Ler-Online_large-174x270.jpg" alt="Capa do livro: Tudo o que Importa">
        <li> High Voltage:a Vida de Angus Young - Jeff Apter
        <br>
        <button><a href="">Baixar ou Ler Online</a></button>
        </li>
        <br>
        <img  width="174" height="270" src="https://imagens.lelivros.love/2022/02/Baixar-Livro-Almanaque-do-Investidor-Almir-Oliveira-Em-Epub-Pdf-Mobi-Ou-Ler-Online_large-174x270.jpg" alt="Capa do livro: Tudo o que Importa">
        <li> Almanaque do Investidor - Almir Oliveira
        <br>
        <button><a href="">Baixar ou Ler Online</a></button>
        </li>
        <br>
        <img  width="174" height="270" src="https://imagens.lelivros.love/2022/02/Baixar-Livro-Liberdade-Financeira-Sem-Mimimi-Bruno-Cesar-Em-Epub-Pdf-Mobi-Ou-Ler-Online_large-174x270.jpg" alt="Capa do livro: Tudo o que Importa">
        <li> Liberdade Financeira Sem Mimimi - Bruno César
        <br>
        <button><a href="">Baixar ou Ler Online</a></button>
        </li>
        <br>
        <img  width="174" height="270" src="https://imagens.lelivros.love/2022/02/Baixar-Livro-a-Biografia-de-Novak-Djokovic-Blaza-Popovic-Em-Epub-Pdf-Mobi-Ou-Ler-Online_large-174x270.jpg" alt="Capa do livro: Tudo o que Importa">
        <li> A Biografia de Novak Djokovic - Blaza Popovic
        <br>
        <button><a href="">Baixar ou Ler Online</a></button>
        </li>
        <br>
        <img  width="174" height="270" src="https://imagens.lelivros.love/2022/02/Baixar-Livro-Sem-Medo-da-Minha-Idade-Elyse-Fitzpatrick-Em-Epub-Pdf-Mobi-Ou-Ler-Online_large-174x270.jpg" alt="Capa do livro: Tudo o que Importa">
        <li> Sem Medo da Minha Idade - Elyse Fitzpatrick
        <br>
        <button><a href="">Baixar ou Ler Online</a></button>
        </li>
        <br>
        <img  width="174" height="270" src="https://imagens.lelivros.love/2022/02/Baixar-Livro-o-Bosque-das-Coisas-Perdidas-Shea-Ernshaw-Em-Epub-Pdf-Mobi-Ou-Ler-Online_large-174x270.jpg" alt="Capa do livro: Tudo o que Importa">
        <li> O Bosque das Coisas Perdidas - Shea Ernshaw
        <br>
        <button><a href="">Baixar ou Ler Online</a></button>
        </li>
        <br>
        <img  width="174" height="270" src="https://imagens.lelivros.love/2022/02/baixar-livro-a-arte-de-caminhar-thich-nhat-hanh-em-pdf-epub-mobi-ou-ler-online-174x270.jpg" alt="Capa do livro: Tudo o que Importa">
        <li> A Arte de Caminhar - Trich Nhat Hahn
        <br>
        <button><a href="">Baixar ou Ler Online</a></button>
        </li>
        <br>
        <img  width="174" height="270" src="https://imagens.lelivros.love/2022/02/Baixar-Livro-Como-o-Prazer-Funciona-Paul-Bloom-Em-Epub-Pdf-Mobi-Ou-Ler-Online_large-174x270.jpg" alt="Capa do livro: Tudo o que Importa">
        <li> Como o Prazer Funciona - Paul Bloom
        <br>
        <button><a href="">Baixar ou Ler Online</a></button>
        </li>
        <br>
        <img  width="174" height="270" src="https://imagens.lelivros.love/2022/02/baixar-livro-tryst-six-venom-penelope-douglas-em-pdf-epub-mobi-ou-ler-online-174x270.jpg" alt="Capa do livro: Tudo o que Importa">
        <li> Tryst Six Venom - Penelope Douglas
        <br>
        <button><a href="">Baixar ou Ler Online</a></button>
        </li>
        </ul>
    </article>
</section>